<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lk.todolist">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Desktop.DesktopActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddEvent" />
        <activity android:name=".modify" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".Desktop.DesktopActivity" />
        <activity
            android:name=".Search.SearchActivity"
            android:parentActivityName=".Desktop.DesktopActivity" />
        <activity android:name=".About.AboutActivity"
            android:parentActivityName=".Desktop.DesktopActivity" />
    </application>

</manifest>